label{
    margin-bottom: 0;   
}

input, select, #checkboxDiv, #radioDiv{
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0rem;
}

#formName p{
    margin-bottom: 2rem;
}

#submitButton{
    margin-top: 1rem;
}