/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

body:not(.homepage) {
    margin-top: 60px;
}

input.form-control,
select.custom-select,
textarea.form-control {
    border: 1px solid rgba(48, 226, 62, 0.31);
}

/* Delete Focus from all the inputs */
input[type="checkbox"i]:focus,
input:focus {
    outline-offset: 0px;
    outline: 0;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
    outline: 0;
    -webkit-tap-highlight-color: 0;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

a {
    color: #47BF56;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #07420B;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}



/* Food */
.food-category {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Header of interior pages */
header.interior-page-title {
    width: 100%;
    height: 250px;
    position: relative;
}

header.interior-page-title .img-background {
    width: 100%;
    height: 100%;
}

header.interior-page-title .img-background::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("img/food8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header.interior-page-title .img-background::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
}

header.interior-page-title h1 {
    width: 100%;
    padding: 0 15px;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Food: filter-menu */
.food-category .filter-menu {
    padding: 15px 15px 5px 15px;
    margin: 0 0 30px 0;
    background-color: rgba(48, 226, 62, 0.31);
    -o-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
}

.food-category h3 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}

.food-category .filter-menu {
    display: flex;
    flex-flow: wrap;
}

.food-category .filter-wrapper {
    padding: 0;
    margin: 0;
    width: 30%;
}

.food-category .filter-wrapper li {
    margin: 0 20px 10px 0;
}

.food-category .filter-wrapper li label {
    font-size: 14px;
    font-weight: 300;
}

.food-category .filter-wrapper li img {
    height: 15px;
    display: inline-block;
    margin: 0 3px 0 0;
    vertical-align: middle;
}

/* Food: cards */
.food-category .card {
    border: 1px solid rgba(48, 226, 62, 0.31);
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    text-decoration: none;
}

.food-category .card:hover {
    -webkit-box-shadow: 10px 10px 39px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 39px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 39px -25px rgba(0, 0, 0, 0.75);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.food-category .card .card-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: all 0.5s ease-in-out;
}

.food-category .card .card-img img {
    transition: all 0.5s ease-in-out;
    object-fit: cover;
    position: relative;
}

.food-category .card .card-img::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.food-category .card:hover .card-img::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.food-category .card .rating {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    height: 30px;
    padding: 16px 8px;
    display: flex;
    align-items: center;
}

.food-category .card .rating span {
    font-weight: 300;
    font-size: 23px;
    color: #47BF56;
}

.food-category .card .rating img {
    height: 20px;
    margin-left: 3px;
}

.food-category .card-title {
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
    color: black;
}

.food-category .card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #47bf56;
}

.food-category .card:hover .card-body {
    transition: all 0.5s ease-in-out;
    background-color: rgba(48, 226, 62, 0.31);
}

.food-category .card-icons {
    display: flex;
    margin: 0 -5px;
}

.food-category .card-icons li {
    height: 15px;
    padding: 0 5px;
}

.card-icons img {
    height: 100%;
    display: block;
}

.food-category .interior-page-title .img-background::before {
    content: '';
    background-image: url("img/food0.jpg");
}

/* Gallery */
.restaurant-category #menu-restaurant {
    padding: 30px 20px;
}

.restaurant-category #menu-restaurant .card {
    border: 0;
}

.restaurant-category #menu-restaurant img.img-fluid {
    height: 180px;
    object-fit: cover;
    border-radius: 1rem;
}

.restaurant-category .interior-page-title .img-background::before {
    content: '';
    background-image: url("img/restaurant/restaurant.jpg");
}

.interior-page-body {
    margin: 50px 0;
}

.restaurant-category h3 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}

.restaurant-category .about,
.restaurant-category .menu,
.restaurant-category .localization,
.restaurant-category .rating,
.restaurant-category .more-info {
    margin-bottom: 80px;
}

.restaurant-category .about p {
    font-size: 16px;
    line-height: 27px;
}

.restaurant-category .about .open {
    font-size: 12px;
    display: flex;
    margin-top: 30px;
}

.restaurant-category .about .open img {
    width: 30px;
    margin-right: 15px;
}

.restaurant-category .localization ul,
.restaurant-category .menu ul,
.restaurant-category .rating .rate {
    display: flex;
    margin: 0 -5px;
}

.restaurant-category .localization li,
.restaurant-category .menu li,
.restaurant-category .rating .rate li {
    margin: 5px;
}

.restaurant-category .more-info .card-icons li {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 15px;
}

.restaurant-category .more-info .card-icons li img {
    margin-right: 8px;
}


/* Google maps */
.restaurant-category .localization .mapouter {
    position: relative;
    text-align: right;
    height: 200px;
    width: 100%;
}

.restaurant-category .localization .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 100%;
}

.restaurant-category .localization .gmap_canvas iframe {
    object-fit: cover;
}

.restaurant-category .localization p {
    margin: 15px 0 3px 0;
}

.restaurant-category .localization ul {
    font-size: 12px;
    justify-content: space-between;
}

.restaurant-category .menu ul {
    flex-wrap: wrap;
}

.restaurant-category .menu li {
    flex: 1 0 25%;
}

.restaurant-category .menu img {
    width: 100%;
}

.restaurant-category .rating>ul>li {
    display: flex;
    font-weight: 100;
    align-items: center;
}

.restaurant-category .rating>p>span {
    font-weight: 300;
    font-size: 28px;
    color: #47BF56;
}

.restaurant-category .rating .rate {
    justify-content: flex-end;
    flex: auto;
}

.restaurant-category .rating .rate li {
    height: 25px;
}

.restaurant-category .rating .rate li img {
    height: 100%;
    display: block;
}

.restaurant-category .rating .generalButton {
    background-color: rgb(8, 66, 11);
    border-color: rgb(8, 66, 11);
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: .375rem 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 30px;
    margin-top: 20px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.restaurant-category .rating button:hover {
    background-color: #346437;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

/* style homepage header */
.homepage-header {
    height: 100vh;
    background-image: url("img/food11.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: .9;
}

.homepage-header h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 90px;
}

.homepage-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.homepage-header .col-lg-12 {
    background-color: #D8EDD9;
    opacity: .8;
    top: 10px;
    border-radius: 5%;
}

/* style homepage nav*/

.homepage-nav {
    margin-top: 50px;
    margin-bottom: 50px;
}

.homepage-nav a {
    color: rgb(220, 228, 220);
}

.homepage-nav a img {
    width: 90%;
    opacity: .9;
    padding-bottom: 5px;
    border-radius: 50%;
}

.homepage-nav .sticker {
    position: relative;
    margin-bottom: auto;
}

.homepage-nav a span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage-nav a span:hover {
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 4rem;
}

.homepage-nav a img:hover {
    opacity: 1;
}

/* style general footer */

footer {
    text-align: center;
    background-color: rgba(48, 226, 62, 0.31);
    font-size: 13px;
    color: #737373;
    padding: 30px 20px;
    bottom: 0;
}

footer ul {
    margin: auto;
}

footer .row {
    vertical-align: middle;
    padding: 3px;
}

footer img {
    height: 15px;
    width: 15px;
}

footer img:hover {
    height: 1.5em;
    width: 1.5em;
}

footer span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

footer a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1E4427;
}

footer a:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: rgb(7, 24, 11);
}

.footer-copyright p {
    font-style: italic;
}

footer hr {
    border-top-color: rgb(8, 66, 11);
    padding: 4px;
}

h6 {
    color: #346437;
}

/* style about-page header */
.about-page .content-text {
    margin: 40px auto;
}

.about-page .our-story {
    text-align: justify;
}

/* CONTACT PAGES */
.contact-restaurants-category .interior-page-title .img-background::before {
    content: '';
    background-image: url("img/contact-banner.jpg");
}

.contact-customers-category .interior-page-title .img-background::before {
    content: '';
    background-image: url("img/contact-cust-banner.jpg");
}

#textBelowH1Div {
    margin: 2rem 0;
    font-weight: 500;
}

.checkboxContact,
.radioContact {
    padding-left: 2.5rem;
}

.labelsForm,
#checkAllFeatures {
    font-weight: 500;
}

.labelsForm,
.other {
    margin-bottom: 0.2rem;
}

#checkAllFeatures,
#selectAverage {
    margin-bottom: 0.6rem;
}

.nameEmailDiv,
.businessDiv,
.otherDiv,
.radioDiv {
    margin-bottom: 2rem;
}

.nameEmailCustDiv {
    margin-bottom: 1.5rem;
}

.nameDiv,
.kindOfBusinessDiv {
    margin-bottom: 1rem;
}

.subjectOptionsDiv {
    margin-bottom: 1rem;
}

.other {
    margin-top: 0.3rem;
    font-size: 13px;
}

.checkboxContact,
.radioDiv {
    font-size: 13px;
}

#other {
    width: 60%;
}

.checkboxContact img {
    width: 12px;
    height: 12px;
}

.buttonContactPages .generalButton{
    background-color: rgb(8, 66, 11);
    border-color: rgb(8, 66, 11);
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: .375rem 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 70px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* #submitButton{
    margin-top: 1rem;
    background-color: rgb(8, 66, 11);
    border-color: rgb(8, 66, 11);
} */

.custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(8, 66, 11);
}





/* Menu Nav */
.menu-bar-wrapper {
    width: 100%;
    height: 60px;
    background-color: #346437;
    position: fixed;
    top: 0;
    z-index: 2;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.menu-bar .logo {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    font-weight: 700;
}

.menu-bar a:not(.dropdown-item) {
    color: white;
    text-decoration: none;
    line-height: 35px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #C1F6C5, #a1e2a6 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.menu-bar a:hover {
    background-position: 0 100%;
}

.menu-bar ul {
    display: flex;
    margin: 0 -10px;
}

.menu-bar ul li {
    margin: 0 15px;
    font-size: 14px;
    font-weight: 900;
}

.menu-bar li.lang {
    font-weight: 500;
    font-size: 12px;
}

.menu-bar li span {
    font-weight: 900;
    color: rgb(8, 66, 11);
}

.menu-bar .dropdown button {
    background-color: rgb(8, 66, 11);
    border-color: rgb(8, 66, 11);
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: .375rem 20px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 30px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.menu-bar .dropdown button:hover,
.menu-bar .dropdown button:active,
.menu-bar .btn-secondary:not(:disabled):not(.disabled).active,
.menu-bar .btn-secondary:not(:disabled):not(.disabled):active,
.menu-bar .show>.btn-secondary.dropdown-toggle {
    background-color: rgba(8, 66, 11, 0.774);
    border-color: rgb(8, 66, 11);
}

.menu-bar .dropdown-menu a {
    font-size: 14px;
    text-decoration: none;
}

.menu-bar .dropdown-item:focus,
.menu-bar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #C1F6C5;
}

/* MEDIA QUERIES */

@media (max-width: 991px) {
    .menu-bar ul li {
        margin: 0 8px;
    }
}

@media (max-width: 767px) {

    .menu-bar-wrapper {
        height: 83px;
    }

    .menu-bar {
        flex-direction: column;
        height: 83px;
        padding: 6px 15px 10px 15px;
    }

    .menu-bar a:not(.dropdown-item) {
        line-height: 32px;
    }

    .menu-bar .logo {
        font-size: 22px;
    }

    .menu-bar ul li {
        font-size: 12px;
    }

    .menu-bar .dropdown button {
        font-size: 12px;
    }

    .food-category .filter-wrapper {
        width: 50%;
        margin-bottom: 20px;
    }

    .food-category .filter-wrapper:last-child {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* Food: cards */
    .food-category .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 576px) {

    /* Food: header */
    .food-category header h1 {
        font-size: 50px;
    }

    #menu-restaurant {
        display: none;
    }

    .food-category .filter-wrapper li label {
        font-size: 12px;
    }
}

/*increase padding on sticker's homepage when reducing from 4 to 2 columns*/
@media (max-width: 992px) {
    .homepage-nav .sticker {
        margin-bottom: 40px;
    }
}

/*reduce image size on smal screen - 1 column */
@media (max-width: 576px) {
    .homepage-nav a img {
        width: 70%;
    }

    .menu-bar .dropdown {
        display: none;
    }
}

@media (min-width: 575px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}