/* style homepage header */

.homepage-header {
    height: 100vh;
    background-image: url("img/food11.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: .9;
}

.homepage-header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

.homepage-header h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;

}

.homepage-header .col-lg-12 {
    background-color:#D8EDD9;
    opacity: .8;
    position: sticky;
    top: 10px;
}

/* style homepage nav*/

.homepage-nav{
    margin-top: 50px;
    margin-bottom: 50px;
}

.homepage-nav a {
    color: #D8EDD9;
}

.homepage-nav a img {
    width: 90%;
    opacity: .9;
    padding-bottom: 5px;;
}

.homepage-nav .col-lg-3 {
    position: relative;
}

.homepage-nav a span {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* style about-page header */

.about-header {
        height: 100vh;
        background-image: url("img/food11.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        opacity: .5;
}

/* style homepage-footer */

.homepage footer {
    background-color:#D8EDD9;
    font-size: 14px;
    color:#737373;
}

.homepage-footer ul{
    margin: auto;
    padding: 2px;
}

.homepage .row{
    vertical-align: middle;
}

.homepage-footer img {
    height: 20px;
    width: 20px;
}

.homepage-footer a {
    color:#1E4427;
}

.homepage hr {
    border-top-color:rgb(8, 66, 11);
    opacity:0.3;
    margin: 1px;
}






